@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,800,300);

*, :before, :after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #fff;
    /* 1x1 black pixel */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNg+A8AAQIBANEay48AAAAASUVORK5CYII=);
    background-size: 100% 104px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    font-family: Merriweather;
    height: 100%;
}

/* Safari/iOS related fixes */

input, text-area {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #393939;
    background-color: rgba(57, 57, 57, .6);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #9c9c9c;
    background-color: rgba(156, 156, 156, .6);
}

body {
    margin: 0 5em;
}

header {
    height: 104px;
    background-color: black;
    position: relative;
}

#content {
    background-color: white;
    width: 100%;
    height: 100%;
    /* Substract header size */
    height: calc(100% - 104px);
    padding: 6px 0 0 6px;
}
#main:before {
    clear: both;
}
#main {
    margin: 0px;
    height: 100%;
    background-color: #fff;
}
#main:after {
    clear: both;
}

/* Header content */
#logo {
    float: left;
    padding-top: 20px;
    padding-left: 0px;
    vertical-align: bottom;
}
#logo img {
    width: 100%;
    vertical-align: top;
}

#form {
    position: absolute;
    bottom: 6px;
    right: 0px;
    width: 540px;
    max-width: calc(100% - 224px);
    display: inline-block;
    vertical-align: bottom;
}
#form input {
    border-radius: 0px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 16px;
    color: #999999;
    height: 2em;
}
#searchfield {
    width: 100%;
    padding-left: .5em;
}
#searchbutton {
    width: 16%;
    min-width: 5em;
}
#profilemenu {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 6px;
    right: 48px;
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    color: #66ccff;
}
#profilemenu a, #profilemenu a:visited, #profilemenu a:hover {
    text-decoration: none;
    color: #66ccff;
    cursor: pointer;
}
.profilemenu_item:before {
    content: "> ";
    color: #fff;
    padding-left: 6px;
}

#langswitch {
    position: absolute;
    top: 3px;
    right: 0px;
    font-family: Arial, Verdana;
    color: #fff;
    font-size: 8px;
    vertical-align: middle;
}
#langswitch .lang_item {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 1px solid #fff;
    padding: 3px;
    margin: 2px;
}
.lang_item.active {
    color: black;
    background-color: #66ccff;
    border-color: #66ccff !important;
}

.topmenu {
    position: absolute;
    left: 0px;
    bottom: -6px;
    color: #fff;
    font-size: 14px;
    font-family: Roboto;
}
.topmenu_item a {
    text-decoration: none;
    color: #fff;
}
.topmenu_item {
    display: inline-block;
    height: 32px;
    border-bottom: 6px solid #fff;
    text-transform: uppercase;
}
.topmenu_item:hover {
    border-bottom-color: #dcf0ff;
}
.topmenu_item.active {
    border-bottom-color: #6cf;
}
.topmenu .topmenu_item:before {
    content: "> ";
    padding-left: 6px;
}

/* Main content */
h1.pagetitle, .column h1, #main h1 {
    font-family: Roboto;
    font-weight: 800;
    font-size: 32px;
    width: 100%;
    text-transform: uppercase;
}
h1.highlighted {
    border-bottom: 6px solid #6cf;
    margin-bottom: 10px;
    color: #6cf;
}
.column h2 {
    font-family: Roboto;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 40px;
}

#home_content {
    margin-top: 24px;
}

#main .splitter-bar {
    background-color: #fff;
    /* 1x1 black pixel */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNg+A8AAQIBANEay48AAAAASUVORK5CYII=);
    background-size: 16px 72px;
    background-repeat: no-repeat;
}

/* Player */

.player {
    float: left;
    display: inline-block;
    width: calc(50% - 6px);
    padding: 0px;
    vertical-align: top;
    margin-left: 6px;
    background-color: #fff;
    color: #000;
}
.player .titleblock {
    background-color: #000;
    color: #fff;
}

.coco_rightcolumn {
    width: calc(50% - 6px);
}

#metadata {
    background-color: #fff;
    display: block;
    width: 100%;
    min-width: 368px;
    margin-right: 6px;
    height: calc(100% - 80px);
}

.coco_annotation_input {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
}

.titleblock {
    height: 72px;
    padding: 6px;
    width: 100%;
}
.breadcrumb {
    color: #999;
    font-family: Roboto;
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
}
.playertitle {
    padding-top: 8px;
}
.videotitle {
    display: inline-block;
    font-family: Roboto;
    font-weight: 200;
    font-size: 21px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 28px);
}
.videodetails {
    display: inline-block;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 1px solid #fff;
    padding: 1px 5px 5px 5px;
    vertical-align: top;
    margin-top: 4px;
}
.coursetitle:before {
    content: "> ";
    color: #fff;
    padding-left: 6px;
}

.videocontainer {
    position: relative;
    margin: auto;
    text-align: center;
    min-height: 300px;
}
.controlscontainer {
    background-color: #000;
}
.aspectratiokeeper {
  width: 100%;
  display: inline-block;
  position: relative;
  margin: auto;
}
.aspectratiokeeper:after {
    /* padding % is in % of width! */
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: inline;
    content: '';
}
.videooverlay, .videoplayer {
    max-width: 100%;
    max-height: 100%;
}

.tabnames {
    height: 72px;
    background-color: black;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tabnames li {
    display: inline-block;
    height: 50px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-transform: uppercase;
    list-style: none;
    padding: 2px 2px;
    background-color: #999;
    /* text-align: center; */
    min-width: 54px;
    /* width: 84px; */
    max-width: 86px;
    margin-top: 18px;
    padding: 8px 6px 0px 6px;
    vertical-align: top;
}
.tabnames li.selected {
    background-color: #fff;
    height: 55px;
}

.coco_tabcontents {
    height: calc(100% - 72px);
    overflow-y: hidden;
}

.tabcontent {
    position: relative;
    overflow-y: hidden;
    height: 100%;
    display: none;
}
.tabcontent.selected {
    display: block;
}

.Ldt-Ctrl {
    width: 100%;
}

.EnrichedPlanContainer {
    font-family: Roboto;
    font-size: 14px !important;
    list-style: none;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin-top: 12px;
}
.Ldt-AnnotationsList-Input {
    height: 50px;
}
.Ldt-AnnotationsList-InputText {
    width: 100%;
    font-size: 16px;
}

.teacher_note, .teacher_note a {
    color: #e5007e;
}
.other_note, .other_note a {
    color: #996633;
}

.creator {
    text-transform: uppercase;
    padding-left: 5px;
    font-size: 10px;
}

#annotation_form {
    width: 40%;
    float: right;
}

#annotation_text {
    width: 60%;
    height: 4em;
    float: left;
}

#annotation_metadata {
    padding-left: 1em;
    float: left;
    width: 19%;
    height: 4em;
    display: inline-block;
}

#annotation_controls {
    width: 19%;
    height: 4em;
    display: inline-block;
}

.annotation_control {
    display: block;
    text-align: center;
    font-size: xx-small;
}

.timestamp {
    font-size: xx-small;
    display: block;
}

#annotation_validate {
    font-size: x-small;
    display: block;
}

#footer {

}

.column {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.column2 {
    width: 16%;
}

.column3 {
    width: 25%;
}

.column4 {
    width: 33%;
}

.column6 {
    width: 50%;
}

.column8 {
    width: 66%;
}

.capsule_container {
    display: flex;
    flex-wrap: wrap;
}

.capsule {
    padding-top: 40px;
    clear: both;
    overflow-y: hidden;
}

.fixedheight {
    height: 312px;
    max-height: 312px;
}

.capsule img {
    max-height: 212px;
    float: left;
    padding-right: .5em;
}

.capsule a, .minicapsule a {
    text-decoration: none;
}

.capsule h4, .capsule h4 a, .minicapsule h4 {
    font-family: Roboto;
    font-variant: small-caps;
    font-size: 21px;
    text-transform: uppercase;
}

.capsule h5, .capsule h5 a, .minicapsule h5 {
    font-family: Roboto;
    font-variant: small-caps;
    font-size: 14px;
    text-transform: uppercase;
    color: #6cf;
}

.searchcapsule {
    margin-top: 1em;
}
.searchcapsule:hover {
    background-color: #dcf0ff;
}

.searchcapsule_type {
    background-color: #ccc;
    padding: 3px;
    color: #fff;
}
.capsule_description {
}

.profile_avatar {
    width: 20%;
    min-width: 48px;
    max-width: 320px;
    float: left;
    padding-right: .5em;
}

.capsule .thumbnail_mini {
    width: 20%;
    min-width: 48px;
    max-width: 128px;
    float: left;
    padding-right: .5em;
}

.group_profile {
    padding-top: 1em;
    text-align: center;
}

.group_profile img {
    width: 50%;
}

.group_profile button {
    padding: .8em;
    border-radius: 5px;
    font-size: 110%;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

.minicapsule {
    margin: 0px 12px 0px 0px;
    float: left;
    overflow-y: hidden;
    background-color: #dcf0ff;
    width: calc(25% - 12px);
    position: relative;
}

.minicapsule .content {
    margin: 20px;
}
.minicapsule img {
    width: 100%;
    max-height: 100px;
    float: left;
    margin-bottom: 1em;
}

.la_une .minicapsule:nth-of-type(1) {
    width: calc(50% - 12px);
}
.la_une .minicapsule:nth-of-type(1) img {
    max-height: 212px;
}

.minicapsule h4 {
    font-size: 100%;
    color: #000;
    text-overflow: ellipsis;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.minicapsule h4 a, .minicapsule h4 a:visited {
    text-decoration: none;
    color: #000;
}

.minicapsule.fixedheight {
    height: 312px;
    max-height: 312px;
}

.capsule .description, .minicapsule .description {
    font-size: 11px;
}

.microcapsule {
    background-color: #ccc;
    height: 168px;
}
.microcapsule img {
    height: 100px;
}

.microcapsule h4, .microcapsule h4 a {
    color: #fff !important;
    font-size: 14px;
    overflow: visible;
}

.minicapsule .detail {
    display: block;
    font-family: Roboto;
    text-transform: uppercase;
    color: #6cf;
    font-size: 11px;
}

.last_videos {
    margin-top: 40px;
}

#home_column {
    height: 100%;
    float: left;
    padding-right: 20px;
}

.welcome {
    font-family: Merriweather;
    font-size: 17px;
    color: #999;
    line-height: 25px;
    width: 80%;
}
.welcome .subtitle {
    font-weight: bold;
    color: #000;
    margin-bottom: 32px;
}

.home_news {
    width: 100%;
}

.home_news img {
    width: 100%;
}

.newsitem h5 {
    font-family: Roboto;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 14px;
    color: #6cf;
}
.newsitem .readmore {
    font-family: Roboto;
    font-size: 11px;
    color: #6cf;
    text-transform: uppercase;
    text-decoration: underline;
}
.newsitem .description {
    font-size: 11px;
    line-height: 18px;
}

.newsitem {
    margin-bottom: 20px;
}
.last_videos {
    display: block;
    position: relative;
    top: 40px;
}

.minicapsule .adminactions {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
}
.minicapsule:hover .adminactions {
    display: inline-block;
}
.adminactions .editelement {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("img/notes_edit.png");
}

@media only screen and (max-width: 767px) {
    /* phones */
    body {
        margin: 0 1em;
    }

    #home_column {
        display: none;
    }
    .home_content {
        width: 100%;
    }
    .topmenu {
        display: none;
    }
    #form {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .minicapsule {
        width: calc(50% - 12px);
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
