@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,800,300);

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
    /* 1x1 black pixel */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNg+A8AAQIBANEay48AAAAASUVORK5CYII=);
    background-size: 100% 104px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Merriweather;
    height: 100%;
}

/* Safari/iOS related fixes */

input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #dddddd;
    background-color: rgba(221, 221, 221, .6);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #bbbbbb;
    background-color: rgba(187, 187, 187, .6);
}

body {
    margin: 0 5em;
}

header {
    height: 104px;
    background-color: black;
    position: relative;
}

#content {
    background-color: white;
    width: 100%;
    height: 100%;
    /* Substract header size + padding */
    height: calc(100% - 110px);
    padding: 6px 0 0 6px;
}
#main:before {
    clear: both;
}
#main {
    margin: 0;
    margin-top: 6px;
    height: 100%;
    background-color: #fff;
}
#main:after {
    clear: both;
}

.django-messages {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-family: Roboto;
}

.django-alert {
    margin: 3px;
    padding: 3px;
}

.django-alert-alert-info {
    background-color: yellow;
}
.django-alert-alert-success {
    background-color: #0b650b;
}
.django-alert-alert-error {
    background-color: red;
}

/* Header content */
#logo {
    float: left;
    padding-top: 20px;
    padding-left: 0;
    vertical-align: bottom;
}
#logo img {
    width: 100%;
    vertical-align: top;
}

#form {
    position: absolute;
    bottom: 6px;
    right: 0;
    width: 520px;
    max-width: calc(100% - 224px);
    display: inline-block;
    vertical-align: bottom;
}
#form input {
    border-radius: 0;
    font-family: Roboto;
    font-weight: 100;
    font-size: 16px;
    color: #999999;
    height: 2em;
}
#searchfield {
    width: 100%;
    padding-left: .5em;
}
#searchbutton {
    width: 16%;
    min-width: 5em;
}
#profilemenu {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 6px;
    right: 48px;
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    color: #66ccff;
}
#profilemenu a, #profilemenu a:visited, #profilemenu a:hover {
    text-decoration: none;
    color: #66ccff;
    cursor: pointer;
}
.profilemenu_item:before {
    content: "> ";
    color: #fff;
    padding-left: 6px;
}

.profile_annotation_list ul {
    list-style: none;
}

#langswitch {
    position: absolute;
    top: 3px;
    right: 0;
    font-family: Arial, Verdana;
    color: #fff;
    font-size: 8px;
    vertical-align: middle;
}
#langswitch form {
    display: inline-block;
}
.lang_item {
    font-family: Arial, Verdana;
    font-size: 8px;
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 1px solid #fff;
    padding: 3px;
    margin: 2px;
    color: white;
    background-color: black;
}
.lang_item.active {
    color: black;
    background-color: #66ccff;
    border-color: #66ccff !important;
}

.hide_element {
    display: none;
}

.topmenu {
    position: absolute;
    left: 0;
    bottom: -6px;
    color: #fff;
    font-size: 14px;
    font-family: Roboto;
}
.topmenu_item a {
    text-decoration: none;
    color: #fff;
}
.topmenu_item {
    display: inline-block;
    height: 32px;
    border-bottom: 6px solid #fff;
    text-transform: uppercase;
}
.topmenu_item:hover {
    border-bottom-color: #dcf0ff;
}
.topmenu_item.active {
    border-bottom-color: #6cf;
}
.topmenu .topmenu_item:before {
    content: "> ";
    padding-left: 6px;
}

/* Main content */
h1.pagetitle, .column h1, #main h1 {
    font-family: Roboto;
    font-weight: 800;
    font-size: 32px;
    width: 100%;
    text-transform: uppercase;
    padding-bottom: 10px;
}
h1.highlighted {
    border-bottom: 6px solid #6cf;
    margin-bottom: 10px;
    color: #6cf;
}
.column h2 {
    font-family: Roboto;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 40px;
    padding-bottom: 10px;
}

#home_content {
    margin-top: 24px;
}

#main .splitter-bar {
    background-color: #fff;
    background-image: url(../img/splitter-background.png);
    background-repeat: no-repeat;
}

/* Login/logout */
.login_content {
    font-family: Roboto;
    margin: auto;
    width: 33%;
    padding-top: 3em;
}

.login_form {
    border: 1px solid #cfcfcf;
    background-color: #f4f4f4;
    margin: 1em 0;
    padding: 3em 1em;
}

.login_form label,
#id_remember {
    display: none;
}
.login_form input {
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border: 1px solid #cfcfcf;
    margin-bottom: 2px;
}

.login_form .forgot_password {
    width: 100%;
    text-align: right;
}

.login_form .secondaryAction {
    font-size: 10px;
    color: #66ccff;
    text-decoration: none;
    font-style: italic;
}

.login_form .primaryAction {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    color: #fff;
    border: none;
    background-color: #000;
    text-transform: uppercase;
    padding: 4px;
    margin-top: 1em;
    margin-bottom: 3em;
}

.login_form .errorlist {
    list-style: none;
    text-align: right;
    font-size: 9px;
    color: #f44;
}
.login_connect_with {
    text-align: center;
    color: #767676;
    margin-bottom: 2em;
}

.socialaccount_providers {
    list-style: none;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialaccount_providers li {
    display: inline-block;
    background-color: #28f;
    width: 30%;
    padding: 6px 0;
    text-align: center;
}
.socialaccount_providers li:nth-child(1) {
    background-color: #3765a2;
}
.socialaccount_providers li:nth-child(2) {
    background-color: #de5549;
}
.socialaccount_providers li:nth-child(3) {
    background-color: #f7931e;
}

.socialaccount_providers li a {
    text-decoration: none;
    color: #fff;
}
.login_signup {
    text-align: center;
    font-style: italic;
    color: #999;
    font-size: 16px;
}

.login_signup a {
    text-decoration: none;
    color: #66ccff;
}
/* Popups */
.ui-corner-all {
    border-radius: 0;
}
.ui-widget-header,
.ui-dialog-titlebar {
    background-image: none;
    background-color: black;
    color: white;
}

/* player */

.player {
    display: inline-block;
    width: calc(50% - 6px);
    padding: 0;
    vertical-align: top;
    margin-left: 6px;
    background-color: #fff;
    color: #000;
}
.player .titleblock {
    background-color: #000;
    color: #fff;
}

.coco_rightcolumn {
    width: calc(50% - 6px);
}

.tabcomponent {
    background-color: #fff;
    display: block;
    width: 100%;
    min-width: 365px;
    margin-right: 6px;
    height: calc(100% - 84px);
}

.titleblock {
    height: 72px;
    padding: 6px;
    width: 100%;
}
.breadcrumb, .channeltitle {
    color: #999;
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.playertitle {
    padding-top: 8px;
    color: #fff;
    position: relative;
}
.videotitle {
    display: inline-block;
    font-family: Roboto;
    font-weight: 200;
    font-size: 21px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 28px);
}
.videodetails {
    display: inline-block;
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 1px solid #fff;
    padding: 1px 0 0 6px;
    vertical-align: top;
    margin-top: 4px;
}
.coursetitle:before {
    content: "> ";
    color: #fff;
    padding-left: 6px;
}

.VideoContainer {
    height: 100%;
    position: relative;
}

.controlscontainer {
    background-color: #000;
}
.videoplayer {
    width: 100%;
    height: calc(100% - 193px);
    position: relative;
}

.tabnames {
    height: 72px;
    background-color: black;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 20px;
}

.tabnames_overflow_indicator {
    position: absolute;
    cursor: pointer;
    color: #fff;
    top: 22px;
    right: 0;
    display: none;
}
.tabnames_overflow_indicator.overflowing {
    display: inline;
}
.tabnames li {
    display: inline-block;
    height: 50px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-transform: uppercase;
    list-style: none;
    background-color: #999;
    min-width: 54px;
    max-width: 86px;
    margin-top: 18px;
    padding: 8px 6px 0 6px;
    vertical-align: top;
}
.tabnames li.selected {
    background-color: #fff;
    height: 55px;
}

.coco_tabcontents {
    height: calc(100% - 78px);
    overflow-y: hidden;
}

.tabcontent {
    position: relative;
    overflow-y: hidden;
    height: 100%;
    display: none;
}
.tabcontent.selected {
    display: block;
}

.Ldt-Ctrl {
    width: 100%;
}

.EnrichedPlanContainer {
    font-family: Roboto;
    font-size: 14px !important;
    list-style: none;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.Ldt-AnnotationsList-Input {
    height: 50px;
}
.Ldt-AnnotationsList-InputText {
    width: 100%;
    font-size: 16px;
}

.Ldt-SlideVideoPlayer {
    height: 100%;
}

.teacher_note, .teacher_note a {
    color: #e5007e;
}
.other_note, .other_note a {
    color: #996633;
}

.video_info_popup {
    padding: 0 !important;
    font-family: Roboto !important;
}

.video_info_popup .ui-widget-header {
    padding: 6px 0;
    border-radius: 0;
    background-image: none;
    background-color: #000;
    color: #FFF;
    margin: 0;
}

.video_info_popup .ui-widget-title,
.video_info_popup h4 {
    text-transform: uppercase;
}

.creator {
    text-transform: uppercase;
    padding-left: 5px;
    font-size: 10px;
}

.annotation_control {
    display: block;
    text-align: center;
    font-size: xx-small;
}

.timestamp {
    font-size: xx-small;
    display: block;
}

.column {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.column2 {
    width: 16%;
}

.column3 {
    width: 25%;
}

.column4 {
    width: 33%;
}

.column6 {
    width: 50%;
}

.column8 {
    width: 66%;
}

.capsule_container {
    display: flex;
    flex-wrap: wrap;
}

.capsule {
    padding-top: 40px;
    clear: both;
    overflow-y: hidden;
}

.fixedheight {
    height: 312px;
    max-height: 312px;
}

.capsule img {
    max-height: 212px;
    object-fit: cover;
    float: left;
    padding-right: .5em;
}

.subtitle_link {
    text-decoration: none;
    color: inherit;
}

.capsule a, .minicapsule a, .infoblock a {
    text-decoration: none;
    color: inherit;
}

.capsule h4, .capsule h4 a, .minicapsule h4, .infoblock h4 {
    font-family: Roboto;
    font-variant: small-caps;
    font-size: 21px;
    text-transform: uppercase;
}

.minicapsule h4 {
    color: #000;
    max-width: 100%;
    width: 100%;
}

.capsule h5, .capsule h5 a, .minicapsule h5 {
    font-family: Roboto;
    font-variant: small-caps;
    font-size: 14px;
    text-transform: uppercase;
    color: #6cf;
    text-overflow: ellipsis;
    max-width: 100%;
}

.infoblock {
    display: flex;
    flex-direction: column;
    position: relative;
}

.infoblock.highlighted  {
    background-color: #dcf0ff;
}

.infoblock h2 {
    margin-top: 4px;
    padding-bottom: 0;
}

.profile_top {
    padding-bottom: 20px;
}

.profile_info {
    display: flex;
    flex-direction: row;
}

.profile_info h4 {
    font-family: Roboto;
    font-size: 30px;
    color: #6cf;
}

.profile_email {
    font-family: Roboto;
    font-size: 11px;
    color: #6cf;
}

.profile_avatar {
    width: 100%;
    min-width: 48px;
    max-width: 128px;
    float: left;
    padding-right: .5em;
}

.profile_groups {
    font-family: Roboto;
    font-size: 14px;
    color: #6cf;
    text-transform: uppercase;
    padding: 10px;
    background-color: #dcf0ff;
}

.profile_groups h2.profile_groups_title {
    padding: 0;
    color: #000;
}

.profile_groups_link {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.profile_groups_link a {
    color: #6cf;
}

.profile_groups_group_list {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.profile_groups_group {
    color: #000;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.square_div {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}
.square_div_20 {
    width: 20%;
    min-width: 48px;
    max-width: 128px;
    padding-bottom: 20%;
    position: relative;
}
.square_content {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}
.profile_groups_group_thumbnail {
    max-width: 100%;
    max-height: 100%;
}

.profile_groups_group_name {
    font-weight: bold;
}

.profile_activity,
.profile_overview {
    padding-top: 20px;
}

.profile_overview_count {
    font-family: Roboto;
    font-size: 14px;
    color: #6cf;
    text-transform: uppercase;
}

.profile_overview_type {
    font-family: Roboto;
    font-size: 11px;
    display: inline-block;
    min-width: 6em;
    background-color: #6cf;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

.profile_overview_channel {
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.profile_overview_video_url {
    color: #000;
    text-decoration: none;
    font-size: 11px;
}
.profile_overview_video_info {
    font-size: 10px;
    color: #706b6b;
}

.profile_recent_activity {
    list-style: none;
    font-size: 11px;
}

.profile_recent_activity a {
    text-decoration: none;
}
.profile_recent_activity_item {
    padding-top: 10px;
}
.profile_overview_video_list {
    list-style: none;
}
.infoblock .thumbnail_mini {
    max-width: 100%;
    max-height: 100%;
}

.group_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group_list .infoblock {
    min-width: 200px;
    margin-bottom: 20px;
}

.group_profile {
    padding-top: 1em;
    text-align: center;
}

.group_activity_column {
    max-height: calc(100% - 84px);
    overflow-y: auto;
}

.group_profile img {
    width: 50%;
}

.group_profile button {
    padding: .8em;
    border-radius: 5px;
    font-size: 110%;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

.annotated_videos_summary {
    font-size: 10px;
}

.minicapsule {
    margin: 0 12px 12px 0;
    float: left;
    overflow-y: hidden;
    background-color: #dcf0ff;
    width: calc(25% - 12px);
    position: relative;
}

.minicapsule .content {
    margin: 20px;
    /* Substract 2 * 20px padding */
    height: calc(100% - 40px);
}
.minicapsule img {
    width: 100%;
    height: 100px;
    float: left;
    margin-bottom: 1em;
    border: 1px solid #cfcfcf;
    border-bottom: none;
    object-fit: cover;
}

.la_une .minicapsule:nth-of-type(1) {
    width: calc(50% - 12px);
}
.la_une .minicapsule:nth-of-type(1) img {
    max-height: 212px;
}

.multiline_ellipsis {
  /* Fallback for non-webkit */
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 2.2em;
  margin: 0 auto;
/*  line-height: 1.4; */
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.minicapsule h4 a, .minicapsule h4 a:visited {
    text-decoration: none;
    color: #000;
    overflow: hidden;
}

.minicapsule.fixedheight {
    height: 312px;
    max-height: 312px;
}

.capsule .description, .minicapsule .description {
    font-size: 11px;
    overflow-y: hidden;
    height: calc(100% - 152px);
}

.microcapsule {
    background-color: #ccc;
    height: 168px;
}
.microcapsule img {
    height: 100px;
    object-fit: cover;
}

.microcapsule h4, .microcapsule h4 a {
    color: #fff !important;
    font-size: 14px;
}

.minicapsule .detail,
.searchcapsule .detail {
    display: block;
    position: absolute;
    right: 16px;
    font-family: Roboto;
    text-transform: uppercase;
    color: #6cf;
    font-size: 11px;
}

.latest_videos {
    margin-top: 40px;
}

#home_column {
    height: 100%;
    float: left;
    padding-right: 20px;
}

.welcome {
    font-family: Merriweather;
    font-size: 17px;
    color: #999;
    line-height: 25px;
    width: 80%;
}

.welcome .subtitle {
    font-weight: bold;
    color: #000;
    margin-bottom: 32px;
}

.home_news {
    width: 100%;
}

.home_news img {
    width: 100%;
    object-fit: cover;
}

.newsitem h5 {
    font-family: Roboto;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 14px;
    color: #6cf;
}
.newsitem .readmore {
    font-family: Roboto;
    font-size: 11px;
    color: #6cf;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: .5em;
}
.newsitem .description {
    font-size: 11px;
    line-height: 18px;
}
.newsitem:hover,
.newsitem:target {
    background-color: #cfcfcf;
}

.newsitem {
    margin-bottom: 20px;
}
.newsitem_list {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 60em;
}

.news_published {
    font-size: 10px;
    font-weight: normal;
}

.latest_videos {
    display: block;
    position: relative;
    top: 40px;
}

.minicapsule .adminactions,
h1 .adminactions,
.playertitle .adminactions {
    display: none;
}

.playertitle .adminactions {
    position: absolute;
    top: 12px;
    left: 0px;
    background-color: #fff;
    opacity: .6;
}

h1:hover .adminactions,
.minicapsule:hover .adminactions,
.playertitle:hover .adminactions {
    display: inline-block;
}
.adminactions .editelement {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "&#x270f;";
}

#coco_annotation_input_widget {
    display: flex;
    border-top: 3px dotted #ccc;
    padding-top: 2px;
    height: 38px;
}
#coco_annotation_input_widget .unauthenticated_comment {
    display: none;
}

#coco_annotation_input_widget.inactive_input form {
    display: none;
}
#coco_annotation_input_widget.inactive_input .unauthenticated_comment {
    display: block;
    text-align: center;
}

.ui-dialog {
    width: 60%;
}
.annotation_edit_popup .help-block {
    font-size: 9px;
    color: #777;
}
.annotation_edit_popup .ui-dialog-titlebar-close {
  display: none;
}
.annotation_edit_popup .ui-dialog-buttonset {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.annotation_edit_popup .ui-dialog-buttonset button {
    background-image: none;
    background-color: #66ccff;
    color: white;
    text-transform: uppercase;
}
.annotation_edit_form {
    display: flex;
    flex-direction: column;
}

.annotation_edit_form_begin {
    margin-bottom: 1em;
}

.annotation_edit_form_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 1em;
}

.tabconfig_edit_form {
    max-width: 20em;
    margin: auto;
}

.tabconfig_edit_form_list {
    list-style: none;
}

.tabconfig_edit_form_checkbox {
    -webkit-appearance: checkbox;
}

.tabconfig_edit_form_validate {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: #fff;
}

#id_begin {
    align-self: flex-start;
}
#id_sharing {
    background: white;
    border: 1px solid #ddd;
}
@media only screen and (max-width: 780px) {
    /* phones */
    body {
        margin: 0 .3em;
    }

    #home_column {
        display: none;
    }
    .home_content {
        width: 100%;
    }
    .topmenu {
        display: none;
    }
    #form {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .minicapsule {
        width: calc(50% - 12px);
    }
    .player {
        width: 100%;
        height: 40%;
        margin: 0;
    }
    .coco_rightcolumn {
        width: 100%;
        height: 60%;
    }

    body {
        background-size: 100% 60px;
    }
    header {
        height: 64px;
    }
    #form {
        display: none;
    }
    #content {
        padding: 0;
        height: calc(100% - 64px);
    }
    #main {
        margin: 0;
    }
    .titleblock {
        height: 40px;
    }
    .breadcrumb {
        display: none;
    }
    .annotationbar {
        display: none;
    }
    .videoplayer {
        height: calc(100% - 112px);
    }
    .tabcomponent {
        height: calc(100% - 40px);
    }
    .ui-dialog {
        width: 100% !important;
        left: 0 !important;
    }
}

@media only screen and (max-width: 780px) and (orientation: portrait) {
    /* portrait phones */
}
