django==1.8.5
django-taggit
django-taggit-autosuggest
django-user-accounts
sorl-thumbnail
djangorestframework
django-allauth
django-admin-tools
django-crispy-forms
django-debug-toolbar
django-extensions
Pillow
django-annoying
django-ajax-selects
six
sqlparse
python-dateutil
django-grappelli
django-adminactions
django-activity-stream
django-jsonfield
django-extra-views
