{% extends "base.html" %}


{% load i18n %}
{% load admin_urls %}
{% load humanize %}

{% block title %}COCo platform - {% blocktrans %}About{% endblocktrans %}{% endblock %}

{% block content %}

<section class="about_text column column12">

  <section class="column column2">
    &nbsp;
  </section>

  <section class="about_english column column4">
    <h1 class="highlighted">About</h1>

    <article>
      COCoNotes is a video annotation platform. It is primarily aimed
      at publishing enriched educational or research content. However,
      it can be used for any type of video content.
    </article>

    <article>
      <h3>Contact</h3>
      <p>
        The <a href="http://comin-ocw.org/">COCo project</a> is based
        at <a class="sponsor" title="Université de Nantes"
              href="http://www.univ-nantes.fr/" target="_blank">University of
          Nantes</a> and <a class="sponsor" title="LINA"
                            href="http://www.lina.univ-nantes.fr/" target="_blank">LINA
          laboratory</a>.</p>
      <p>You may reach the project team
      at <a href="mailto:communication@comin-ocw.org">communication@comin-ocw.org</a></p>
    </article>

    <article>
      <h3>Funding</h3>
      <p>
        It is funded both by a French government support granted to
        the <a title="CominLabs"
        href="http://www.cominlabs.ueb.eu/">COMIN Labs excellence
        laboratory</a>, managed by the National Research Agency in the
        'Investments for the Future' program under reference
        ANR-JO-LABX-07-0J, and <a class="sponsor" title="Région Pays
        de la Loire" href="http://www.paysdelaloire.fr/"
        target="_blank">Région Pays de Loire</a>.
      </p>
    </article>
    <article>
      <h3>Technical</h3>
      <p>
        This <a href="https://github.com/oaubert/coconotes/">platform
          is Free/Libre Software</a>, licensed under the terms of the
          GNU Lesser General Public License v3 or later.  The video
          interface is based
          on <a href="https://github.com/IRI-Research/metadataplayer">MetaDataPlayer</a>
          (CeCILL-C licence) initially created
          by <a href="http://www.iri.centrepompidou.fr/">Institut de
          Recherche et d'Innovation</a>.
      </p>
    </article>
  </section>

  <section class="about_text about_french column column4">
    <h1 class="highlighted">À propos</h1>

    <article>
      COCoNotes est une plate-forme d'annotation vidéo. Elle est
      initialement vouée à diffuser des contenus pédagogiques ou
      scientifiques enrichis. Cependant, elle peut être utilisée pour
      tout type de contenu vidéo.
    </article>

    <article>
      <h3>Contact</h3>
      <p>
        Le <a href="http://comin-ocw.org/">projet COCo</a> est basé à
              l'<a class="sponsor" title="Université de Nantes"
              href="http://www.univ-nantes.fr/"
              target="_blank">Université de Nantes</a> dans
              le <a class="sponsor" title="LINA"
              href="http://www.lina.univ-nantes.fr/"
              target="_blank">laboratoire LINA</a>.</p>
      <p>Vous pouvez contacter l'équipe à
        l'adresse <a href="mailto:communication@comin-ocw.org">communication@comin-ocw.org</a></p>
    </article>

    <article>
      <h3>Financement</h3>
      <p>
        Le <a href="http://comin-ocw.org/">projet COCo</a> est financé
        conjointement par un soutien du gouvernement français accordé
        au <a title="CominLabs"
        href="http://www.cominlabs.ueb.eu/">Laboratoire d'excellence
        Comin Labs</a>, géré par l'Agence Nationale de la Recherche
        dans le programme "Investissements d'avenir" sous la référence
        ANR-JO-LABX-07-0J, et la <a class="sponsor" title="Région Pays
        de la Loire" href="http://www.paysdelaloire.fr/"
        target="_blank">Région Pays de Loire</a>.
      </p>
    </article>
    <article>
      <h3>Technique</h3>
      <p>
        Cette <a href="https://github.com/oaubert/coconotes/">plate-forme
        est un logiciel Libre</a>, distribuée sous les termes de la
        licence GNU Lesser General Public License v3 ou
        ultérieure. L'interface vidéo est basée sur la
        librairie <a href="https://github.com/IRI-Research/metadataplayer">MetaDataPlayer</a>
        (license CeCILL-C) créée initialement par
        by <a href="http://www.iri.centrepompidou.fr/">Institut de
        Recherche et d'Innovation - Centre Pompidou</a>.
      </p>
    </article>

</section>

{% endblock %}
