{% extends "base.html" %}


{% load i18n %}
{% load admin_urls %}
{% load humanize %}

{% block title %}COCo platform - {% blocktrans %}About{% endblocktrans %}{% endblock %}

{% block content %}

<section class="about_text column column12">

  <section class="column column2">
    &nbsp;
  </section>

  <section class="about_english column column4">
    <h1 class="highlighted">About</h1>

    <article>
      COCoNotes is a video annotation platform It is primarily aimed
      at publishing enriched educational or research content. However,
      it can be used for any type of video content.
    </article>

    <article>
      <h3>Contact</h3>
      <p>You may reach the project team
      at <a href="mailto:communication@comin-ocw.org">communication@comin-ocw.org</a></p>
    </article>

    <article>
      <h3>Funding</h3>
      <p>
        The <a href="http://comin-ocw.org/">COCo project</a> is based
        at <a class="sponsor" title="Université de Nantes"
              href="http://www.univ-nantes.fr/" target="_blank">University of
          Nantes</a> and <a class="sponsor" title="LINA"
                            href="http://www.lina.univ-nantes.fr/" target="_blank">LINA
          laboratory</a>.</p>
      <p>
        It is funded both by a French government support granted to
        the <a title="CominLabs"
        href="http://www.cominlabs.ueb.eu/">COMIN Labs excellence
        laboratory</a>, managed by the National Research Agency in the
        'Investing for the Future' program under reference
        ANR-JO-LABX-07-0J, and <a class="sponsor" title="Région Pays
        de la Loire" href="http://www.paysdelaloire.fr/"
        target="_blank">Région Pays de Loire</a>.
      </p>
    </article>
    <article>
      <h3>Technical</h3>
      <p>
        This platform is Free/Libre
        Software, <a href="https://github.com/oaubert/coconotes/">licensed</a>
        under the terms of the GNU Lesser General Public License v3 or
        later.  The video interface is based
        on <a href="https://github.com/IRI-Research/metadataplayer">MetaDataPlayer</a>
        (CeCILL-C licence) initially created
        by <a href="http://www.iri.centrepompidou.fr/">Institut de
        Recherche et d'Innovation</a>.
      </p>
    </article>
  </section>

  <section class="about_text about_french column column4">
    <h1 class="highlighted">À propos</h1>

    <article>
      COCoNotes is a video annotation platform It is primarily aimed
      at publishing enriched educational or research content. However,
      it can be used for any type of video content.
    </article>

    <article>
      <h3>Contact</h3>
      <p>You may reach the project team
      at <a href="mailto:communication@comin-ocw.org">communication@comin-ocw.org</a></p>
    </article>

    <article>
      <h3>Funding</h3>
      <p>
        The <a href="http://comin-ocw.org/">COCo project</a> is based
        at <a class="sponsor" title="Université de Nantes"
              href="http://www.univ-nantes.fr/" target="_blank">University of
          Nantes</a> and <a class="sponsor" title="LINA"
                            href="http://www.lina.univ-nantes.fr/" target="_blank">LINA
          laboratory</a>.</p>
      <p>
        It is funded both by a French government support granted to
        the <a title="CominLabs"
        href="http://www.cominlabs.ueb.eu/">COMIN Labs excellence
        laboratory</a>, managed by the National Research Agency in the
        'Investing for the Future' program under reference
        ANR-JO-LABX-07-0J, and <a class="sponsor" title="Région Pays
        de la Loire" href="http://www.paysdelaloire.fr/"
        target="_blank">Région Pays de Loire</a>.
      </p>
    </article>
    <article>
      <h3>Technical</h3>
      <p>
        This platform is Free/Libre
        Software, <a href="https://github.com/oaubert/coconotes/">licensed</a>
        under the terms of the GNU Lesser General Public License v3 or
        later.  The video interface is based
        on <a href="https://github.com/IRI-Research/metadataplayer">MetaDataPlayer</a>
        (CeCILL-C licence) initially created
        by <a href="http://www.iri.centrepompidou.fr/">Institut de
        Recherche et d'Innovation</a>.
      </p>
    </article>

</section>

{% endblock %}
