{% extends "base.html" %}


{% load i18n %}
{% load admin_urls %}
{% load humanize %}

{% block title %}COCo platform - credits{% endblock %}

{% block content %}

<section class="credits_container">

    <h1 class="highlighted">{% trans "Credits" %}</h1>

    <article class="credits">
      <p>
        {% blocktrans %}The <a href="http://comin-ocw.org/">COCo project</a> is funded both by a French government support granted to the <a title="managed by the National Research Agency in the 'Investing for the Future' program under reference ANR-JO-LABX-07-0J" href="http://www.cominlabs.ueb.eu/">COMIN Labs excellence laboratory</a>, and <a class="sponsor" title="Région Pays de la Loire" href="http://www.paysdelaloire.fr/" target="_blank">Région Pays de Loire</a>.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}The video interface is based on <a href="https://github.com/IRI-Research/metadataplayer">MetaDataPlayer</a> (CeCILL-C licence) from <a href="http://www.iri.centrepompidou.fr/">Institut de Recherche et d'Innovation</a>.{% endblocktrans %}
      </p>
    </article>

</section>

{% endblock %}
