{% extends "base.html" %}

{% load coco %}
{% load i18n %}
{% load admin_urls %}
{% load humanize %}
{% load staticfiles %}

{% block extra_head %}
  <style type="text/css">
  #activity_chart {
      display: inline-block;
      width: 80%;
  }
  .group_detail_head {
      display: flex;
      width: 100%;
      flex-direction: row;
  }
  .group_detail_head section {
        flex-grow: 1;
  }
  </style>
{% endblock %}

{% block breadcrumb %}
<span class="topmenu_item"><a href="../">{% trans "Groups" %}</a></span>
<span class="topmenu_item active"><a href="#">{% trans "Group" %} {{ group.name }}</a></span>
{% endblock %}
{% block title %}{% blocktrans %}COCo platform{% endblocktrans %} - {% blocktrans %}Group{% endblocktrans %} {{ group.name }}{% endblock %}

{% block content %}
<h1 class="pagetitle highlighted">{% blocktrans with groupname=group.name %}{{groupname}} activity{% endblocktrans %}</h1>

<section class="group_detail_head">
  <section class="group_detail_members infoblock">
    <h2 class="">{% trans "Members" %}</h2>
    <div id="user_list"></div>
  </section>
  <section class="group_detail_videos infoblock">
    <h2 class="">{% trans "Videos" %}</h2>
    <div id="video_list"></div>
  </section>
</section>

<section class="group_detail_activity infoblock">
  <h2>{% trans "Timeline" %}</h2>
  <div class="charts">
    <div id="activity_chart"></div>
  </div>
  <div class="infoblock group_detail_annotated_videos">
    <h5>{% blocktrans %}Annotated videos{% endblocktrans %}</h5>
    <ul class="annotated_videos_summary">
    {% for vi in group.metadata.videos %}
    <li>
      <input type="checkbox" checked data-video="{{ vi.video.uuid }}" class="activity_selector" />
      <a href="{{vi.video.get_absolute_url}}">
        <img alt="" class="thumbnail_micro" src="{{vi.video.thumbnail_url}}">
        {{ vi.video.title }}
      </a>
      -
      <span>{% blocktrans count vi.annotationcount as count %}{{count}} shared note{% plural %}{{count}} shared notes{% endblocktrans %}</span>
    </li>
    {% endfor %}
    </ul>
  </div>

  <h5>{% blocktrans %}Timeline{% endblocktrans %}</h5>
  <div id="activity_list"></div>
  <ul class="profile_recent_activity">
      {% for a in group.metadata.annotations %}
      <li class="profile_recent_activity_item" data-username="{{a.contributor.username}}" data-video="{{a.video.uuid}}">
        <time class="activity_date" datetime="{{a.modified|date:'c'}}">{{a.modified|naturaltime}}</time>
      {% if a.is_updated %}
        <span class="activity_type" data-user="{{a.contributor}}" data-action="modify">
          {% blocktrans with user=a.contributor %}{{user}} modified the annotation{% endblocktrans %}
        </span>
        {% else %}
        <span class="activity_type" data-user="{{a.creator}}" data-action="create">
          {% blocktrans with user=a.creator%}{{user}} created the annotation{% endblocktrans %}
        </span>
        {% endif %}
        <a class="annotation-link" href="{{a.contextualized_link}}"><small>{{a.title_or_description|slice:":140"}}</small></a>
        {% blocktrans %}on{% endblocktrans %}
        <a class="video-link" data-video="{{a.video.uuid}}" href="{{a.video.get_absolute_url}}"><small>{{a.video.title_or_description}}</small></a>
      </li>
      {% empty %}
      {% blocktrans %}The group does not have much activity yet.{% endblocktrans %}
      {% endfor %}
    </ul>

</section>


{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="http://dc-js.github.io/dc.js/css/dc.css"/>
<script type="text/javascript" src="http://dc-js.github.io/dc.js/js/d3.js"></script>
<script type="text/javascript" src="http://dc-js.github.io/dc.js/js/crossfilter.js"></script>
<script type="text/javascript" src="http://dc-js.github.io/dc.js/js/dc.js"></script>
  <script type="text/javascript">
    $.getJSON("?format=json", function (json) {
        var data = json.actions;
      console.log(data);
      var timeline = dc.barChart('#activity_chart', 'activity');
      var user_list = dc.rowChart('#user_list', 'activity');
      var video_list = dc.rowChart('#video_list', 'activity');

      var ndx                 = crossfilter(data),
          dateDimension       = ndx.dimension(function(d) {return d.date;}),
          videoDimension      = ndx.dimension(function(d) {return d.video.title;}),
          userDimension       = ndx.dimension(function(d) {return d.actor.username;}),
          dateGroup           = dateDimension.group(function (d) { return new Date(d).setHours(0, 0, 0, 0); }).reduceCount(),
          videoGroup          = videoDimension.group().reduceCount();
          userGroup           = userDimension.group().reduceCount();
        console.log(userGroup);
      timeline
          .width($("#activity_chart").width())
          .height(200)
          .x(d3.time.scale().domain([ dateDimension.bottom(1)[0].date, dateDimension.top(1)[0].date ]))
          .y(d3.scale.linear())
          .brushOn(true)
          .elasticX(true)
          .elasticY(true)
          .round(d3.time.day.round)
          .xUnits(d3.time.days)
          .renderHorizontalGridLines(true)
          .dimension(dateDimension)
          .group(dateGroup)
          .render();

        video_list
            .width($("#video_list").width())
            .height(200)
            .dimension(videoDimension)
            .group(videoGroup)
            .render();
        user_list
            .width($("#user_list").width())
            .height(200)
            .dimension(userDimension)
            .group(userGroup)
            .render();

/*                   .html(function (data) {
                var v = data.video;
                return '<a class="activity-video" href="' + v.url + '"><img alt="" class="thumbnail_micro" src="' + v.thumbnail + '">' + v.title + '</a>';
            })
*/

    });
</script>
{% endblock %}
