{% extends "base.html" %}

{% load i18n %}
{% load admin_urls %}


{% block title %}{% blocktrans %}COCo platform{% endblocktrans %} - {% blocktrans %}Groups{% endblocktrans %}{% endblock %}

{% block content %}
          <h1 class="pagetitle">{% blocktrans %}Groups{% endblocktrans %}</h1>

          {% for group in group_list %}
          <article class="capsule">
            <img class="thumbnail_mini" src="{{ group.metadata.thumbnail_url }}">
            <h4><a href="{{ group.id }}">{{ group.name }}</a> ({{ group.user_set.count }})</h4>
          </article>
          {% endfor %}

{% endblock %}
