{% extends "base.html" %}

{% load i18n %}
{% load admin_urls %}
{% load url from future %}

{% block title %}{% blocktrans %}COCo platform{% endblocktrans %} - {% blocktrans %}Group{% endblocktrans %} {{ group.name }}{% endblock %}

{% block content %}
          <section class="column column3">

            <h1>{% trans "My groups" %}</h1>

            {% for group in user.groups.all %}
            <article class="capsule">
              <img class="thumbnail_mini" src="{{ group.metadata.thumbnail_url }}">
              <h4><a href="../{{ group.id }}">{{ group.name }}</a></h4>
              <div class="group_description">{{ group.metadata.description }}</div>
            </article>
            {% endfor %}

          </section>

          <section class="column column6">
            <h1>{% trans "Group" %} {{ group.name }}</h1>

            <article class="capsule">
              <img class="thumbnail_mini" src="{{ group.metadata.thumbnail_url }}">
              <p>{{ group.metadata.description }} created by {{ group.metadata.creator.username }}</p>
            </article>

            <h1>{% trans "Activity" %}</h1>

            {% for c in group.comment_set.all %}
            <article class="capsule">
              <h4>{{ c.title|default:c.description }}</h4>
              <div class="description">{{ c.description }}</div>
            </article>
            {% endfor %}


          </section>

          <section class="column column3">
            <h1>{% trans "Members" %}</h1>

            {% for u in group.user_set.all %}
            <article class="capsule">
              <img class="thumbnail_mini" src="{{ u.metadata.thumbnail_url }}">
              <h4>{{ u.get_full_name|default:u.username }}</h4>
              <div class="description"></div>
            </article>
            {% endfor %}
          </section>

{% endblock %}
