{% extends "base.html" %}

{% load i18n %}
{% load admin_urls %}


{% block title %}{% blocktrans %}COCo platform{% endblocktrans %} - {% blocktrans %}Groups{% endblocktrans %}{% endblock %}

{% block content %}
          <h1 class="pagetitle">{% blocktrans %}Groups{% endblocktrans %}</h1>

          <div class="group_list">
          {% for group in group_list %}
          <article class="infoblock">
            <div class="square_div_20">
              <div class="square_content">
               <img class="thumbnail_mini" src="{{ group.metadata.thumbnail_url }}">
              </div>
            </div>
            <h4><a href="{{ group.id }}">{{ group.name }}</a></h4>
            <div class="group_metadata">
              {{ group.user_set.count }} {% blocktrans %}members{% endblocktrans %}<br/>
              {% blocktrans count group.metadata.annotations.count as count %}{{count}} shared note{% plural %}{{count}} shared notes{% endblocktrans %}
            </div>
          </article>
          {% endfor %}
          </div>
{% endblock %}
