{% extends "base.html" %}

{% load i18n %}
{% load admin_urls %}
{% load humanize %}

{% block breadcrumb %}
<span class="topmenu_item"><a href="#">{% trans "Groups" %}</a></span>
<span class="topmenu_item active"><a href="#">{% trans "Group" %} {{ group.name }}</a></span>
{% endblock %}
{% block title %}{% blocktrans %}COCo platform{% endblocktrans %} - {% blocktrans %}Group{% endblocktrans %} {{ group.name }}{% endblock %}

{% block content %}
<h1>{% trans "My groups" %}</h1>

<section class="column column3">

  {% for g in user.groups.all %}
  <article class="infoblock {% if g == group %}highlighted{% endif %}">
    <div class="square_div_20">
      <div class="square_content">
        <img class="thumbnail_mini" src="{{ g.metadata.thumbnail_url }}">
      </div>
    </div>
    <h4><a href="../{{ g.id }}">{{ g.name }}</a></h4>
    <div class="group_description">{{ g.metadata.description }}</div>
  </article>
  {% endfor %}

</section>

<section class="column column3">
  <h2>{% trans "Group" %} {{ group.name }}</h2>

  <article class="infoblock">
    <div class="square_div_20">
      <div class="square_content">
        <img class="thumbnail_mini" src="{{ group.metadata.thumbnail_url }}">
      </div>
    </div>
    <p>{% blocktrans with name=group.metadata.creator.username|default:"admin" %}created by {{name}}{% endblocktrans %}</p>
    <p>{{ group.metadata.description|default:"No description" }}</p>
  </article>

  <h2>{% trans "Members" %}</h2>

  {% for u in group.user_set.all %}
  <article class="infoblock">
    <div class="square_div_20">
      <div class="square_content">
        <img class="thumbnail_mini" src="{{ u.metadata.thumbnail_url }}">
      </div>
    </div>
    <h4>{{ u.get_full_name|default:u.username }}</h4>
    <div class="description"></div>
  </article>
  {% endfor %}
</section>

<section class="column column6 group_activity_column">
  <h2>{% trans "Activity" %}</h2>

  <div class="infoblock group_annotated_videos">
    <h5>{% blocktrans %}Annotated videos{% endblocktrans %}</h5>
    <ul class="annotated_videos_summary">
    {% for vi in group.metadata.videos %}
    <li><a href="{{vi.video.get_absolute_url}}">{{ vi.video.title }}</a> - <span>{% blocktrans count vi.annotationcount as count %}{{count}} shared note{% plural %}{{count}} shared notes{% endblocktrans %}</span></li>
    {% endfor %}
    </ul>
  </div>
  <h5>{% blocktrans %}Timeline{% endblocktrans %}</h5>
  <ul class="profile_recent_activity">
      {% for a in group.metadata.annotations %}
      <li>{% if a.is_updated %}
        {% blocktrans with user=a.contributor %}{{user}} modified the annotation{% endblocktrans %}
        {% else %}
        {% blocktrans with user=a.creator%}{{user}} created the annotation{% endblocktrans %}
        {% endif %}
        <a class="annotation-link" href="{{a.contextualized_link}}">{{a}}</a>
        {% blocktrans %}on{% endblocktrans %}
        <a href="{{a.video.get_absolute_url}}">{{a.video.title_or_description}}</a> {{a.modified|naturaltime}}</li>
      {% empty %}
      {% blocktrans %}The group does not have much activity yet.{% endblocktrans %}
      {% endfor %}
    </ul>

</section>


{% endblock %}
