{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}COCo platform{% endblock %}

{% block content %}

<section class="column" id="home_content">

  <section class="column column4" id="home_column">

    <h1 class="highlighted">Bienvenue</h1>

    <article class="welcome">
      <p class="subtitle">COCo platform is a place to find open education
        resources that are free to use/reuse and of high
        quality.</p>
      <p>Feel free to use our tools when going through the
        resources, they were designed to help you in your learning path.</p>
    </article>

    <article class="capsule home_news">
      <h1>Les nouvelles</h1>
      {% for item in news %}
      <article class="newsitem">
        <h5>{{ item.subtitle }}</h5>
        <h4>{{ item.title }}</h4>
        <span class="description">{{ item.description|truncatechars_html:40 }}<a href="{{ item.get_absolute_url }}" class="readmore">Lire plus</a>
        </span>
      </article>
      {% endfor %}
      </article>
    </article>

  </section>

  <section class="column column8 home_content">

    <section class="la_une">
      <h1>À la une</h1>

      <div class="capsule_container">
      {% for item in une_items %}
      {% include "item_capsule.html" with item=item %}
      {% endfor %}
      </div>

    </section>

    <section class="last_videos">
      <h2>Les dernières vidéos</h2>


      <div class="capsule_container">
        {% for item in last_videos %}
        <article class="minicapsule microcapsule">
          <a title="{{ item.title }}" href="{{ item.get_absolute_url }}"><img src="{{ item.thumbnail_url }}"></a>
          <div class="content">
            <h4><a title="{{ item.title }}" href="{{ item.get_absolute_url }}">{{ item.shorttitle }}</a></h4>
          </div>
          {% if user.is_staff %}
          <div class="adminactions"><a href="{{ item.edit_url }}" class="editelement"></a></div>
          {% endif %}
        </article>
        {% endfor %}
      </div>

    </section>

  </section>

</section>

{% endblock %}
