{% extends "base.html" %}


{% load i18n %}
{% load admin_urls %}
{% load humanize %}

{% block title %}COCo platform{% endblock %}

{% block content %}

<section class="column" id="home_content">

  <section class="column column4" id="home_column">

    <h1 class="highlighted">{% trans "Welcome" %}</h1>

    <article class="welcome">
      {% blocktrans %}
      <p class="subtitle">The COCoNotes platform is a place to find
        high quality education resources, most of them free to
        use/reuse.</p>
      <p>The <a href="http://comin-ocw.org/">COCo project</a> is funded both by a French government support granted to the <a title="managed by the National Research Agency in the 'Investing for the Future' program under reference ANR-JO-LABX-07-0J" href="http://www.cominlabs.ueb.eu/">COMIN Labs excellence laboratory</a>, and <a class="sponsor" title="Région Pays de la Loire" href="http://www.paysdelaloire.fr/" target="_blank">Région Pays de Loire</a>.</p>
      {% endblocktrans %}
    </article>

    <article class="capsule home_news">
      <h1>{% trans "News" %}</h1>
      {% for item in news %}
      <article class="newsitem">
        {% get_current_language as LANGUAGE_CODE %}
        <h4>{% if LANGUAGE_CODE == "fr" %}
          {{ item.title }}
          {% else %}
          {{ item.title_en|default:item.title }}
          {% endif %}
          <time datetime="{{item.published}}" class="news_published">{{ item.published|naturaltime }}</time></h4>
        {% if item.thumbnail %}
        <img src="{{ item.thumbnail.url }}">
        {% endif %}
        <span class="description">{% if LANGUAGE_CODE == "fr" %}
          {{ item.description }}
          {% else %}
          {{ item.description_en|default:item.description }}
          {% endif %}<a href="{{ item.get_absolute_url }}" class="readmore">{% trans "Read more" %}</a>
        </span>
      </article>
      {% endfor %}
      </article>
    </article>

  </section>

  <section class="column column8 home_content">

    <section class="la_une">
      <h1>{% trans "Featured" %}</h1>

      <div class="capsule_container">
      {% for item in une_items %}
      {% include "item_capsule.html" with item=item %}
      {% endfor %}
      </div>

    </section>

    <section class="latest_videos">
      <h2>{% trans "Latest videos" %}</h2>


      <div class="capsule_container">
        {% for item in last_videos %}
        <article class="minicapsule microcapsule">
          <a title="{{ item.title }}" href="{{ item.get_absolute_url }}"><img src="{{ item.thumbnail_url }}"></a>
          <div class="content">
            <h4 class="multiline_ellipsis"><a title="{{ item.title }}" href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
          </div>
          {% if user.is_staff %}
          <div class="adminactions"><a href="{{ item.edit_url }}" class="editelement"></a></div>
          {% endif %}
        </article>
        {% endfor %}
      </div>

    </section>

  </section>

</section>

{% endblock %}
