<article class="minicapsule fixedheight">
  <div class="minicapsule_thumbnail">
    <a title="{{ item.title }}" href="{{ item.get_absolute_url }}"><img src="{{ item.thumbnail_url }}"></a>
  </div>
  <div class="content">
    <h5>{% if item.subtitle_link %}
      <a class="subtitle_link" href="{{ item.subtitle_link }}">{{ item.subtitle }}</a>
      {% else %}
      {{ item.subtitle }}
      {% endif %}</h5>
    <h4 class="multiline_ellipsis">{% if user.is_staff %}<div class="adminactions"><a href="{{ item.edit_url }}" class="editelement">&#x270f;</a></div>{% endif %}<a title="{{ item.title }}" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
    </h4>
    <span class="description">{{ item.description|truncatechars_html:40 }}</span>
    <span class="detail">{{ item.element_description }}</span>
  </div>
</article>
