<article class="minicapsule fixedheight">
  <a title="{{ item.title }}" href="{{ item.get_absolute_url }}"><img src="{{ item.thumbnail_url }}"></a>
  <div class="content">
    <h5>{{ item.subtitle }}</h5>
    <h4 class="multiline_ellipsis"><a title="{{ item.title }}" href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
    <span class="description">{{ item.description|truncatechars_html:40 }}</span>
    <span class="detail">{{ item.element_description }}</span>
  </div>
  {% if user.is_staff %}
  <div class="adminactions"><a href="{{ item.edit_url }}" class="editelement"></a></div>
  {% endif %}
</article>
