{% extends "base.html" %}

{% load i18n %}
{% load coco %}
{% load admin_urls %}
{% load humanize %}
{% load staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="http://dc-js.github.io/dc.js/css/dc.css"/>
  <style type="text/css">
    #activity_chart {
      display: inline-block;
      width: 80%;
    }
    #video_chart {
      display: inline-block;
      width: 20%;
    }
    .dc-chart g.row text {
      fill: #000;
    }
    .profile_latest_annotations, .profile_latest_comments, .profile_latest_videos {
        padding-top: 20px;
    }
    .latest_list {
        list-style: none;
    }
    .activity_date {
        color: #444;
        font-size: 80%;
    }
  </style>
{% endblock %}

{% block title %}{% blocktrans %}COCo platform{% endblocktrans %} - {{ user.username }}{% endblock %}

{% block breadcrumb %}
<span class="topmenu_item active"><a href="#">{% trans "Profile" %}</a></span>
{% endblock %}

{% block content %}
<div class="pagetitle highlighted">
  <h1>{% trans "My profile" %}</h1>
  <div class="profile-actionmenu">
    <label for="profile-actionmenu-menu" class="profile-actionmenu-toggle"></label>
    <input type="checkbox" class="profile-actionmenu-home" id="profile-actionmenu-menu"/>
    <ul class="profile_actions">
      <li><a href="/accounts/profile/edit/">{% blocktrans %}Edit profile{% endblocktrans %}</a></li>
      <li><a href="/accounts/password/change/">{% blocktrans %}Change password{% endblocktrans %}</a></li>
      <li><a target="_blank" href="/accounts/profile/tabconfig/form?next={{request.get_full_path|urlencode}}">{% blocktrans %}Configuration of displayed tabs{% endblocktrans %}</a></li>
      {% if user.is_staff %}
      <li><a href="/admin">{% blocktrans %}Access the administration interface{% endblocktrans %}</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<section class="profile_top">

  <article class="column column6 infoblock profile_info">
    <div>
      <img class="profile_avatar" src="{{ user.metadata.thumbnail_url }}">
    </div>
    <div>
      <h4>{{ user.get_full_name|default:user.username }}</h4>
      <span class="profile_email">{{ user.email }}</span>
      <div class="profile_description">{{ user.metadata.description }}</div>
      {% if user.teacher_for.count %}
      <div class="teacher_info">
        {% blocktrans %}You are a teacher for the following chapters :{% endblocktrans %}
        <ul>
          {% for c in user.teacher_for.all %}
        <li><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
  </article>

  <article class="column column6 infoblock profile_groups">
    <h2 class="profile_groups_title">{% trans "My groups" %}</h2>
    <div class="profile_groups_info">
    {% if user.groups.count == 1 %}
    {% blocktrans with group=user.groups.all.0 %}You are member of the unique group {{group}}.{% endblocktrans %}
    {% else %}
    {% blocktrans count count=user.groups.count %}You are not member of any group{% plural %}You are member of {{count}} groups.{% endblocktrans %}
    {% endif %}
    </div>
    <div class="profile_groups_group_list">
      {% for g in user.groups.all|slice:":5" %}
      <div class="profile_groups_group">
        <div class="square_div">
          <div class="square_content">
            <a href="{{g.metadata.get_absolute_url}}"><img class="profile_groups_group_thumbnail" src="{{g.metadata.thumbnail_url}}"></a>
          </div>
        </div>
        <div class="profile_groups_group_name"><a href="{{g.metadata.get_absolute_url}}">{{g.name}}</a></div>
      </div>
      {% endfor %}
    </div>
    <div class="profile_groups_link">
    {% if user.groups.count %}
    <a href="/group/">{% blocktrans %}See all my groups{% endblocktrans %}</a>
    {% endif %}
    </div>
  </article>

</section>

<section class="profile_summary column">
  <article class="infoblock column column3 profile_latest_annotations">
    <h2>{% trans "Latest edited notes" %}</h2>
    <ul class="latest_list">
      {% for a in user.metadata.latest_annotations|slice:":6" %}
      <li class="profile_recent_activity_item">
        <a class="annotation-link" href="{{a.contextualized_link}}"><small>{{a.title_or_description}}</small></a>
        {% blocktrans %}on{% endblocktrans %}
        <small><a class="video-link" data-video="{{a.video.uuid}}" href="{{a.video.get_absolute_url}}">{{a.video.title_or_description}}</a></small>
        <time class="activity_date" datetime="{{a.modified|date:'c'}}">{{a.modified|naturaltime}}</time>
      </li>
      {% empty %}
      <li>{% blocktrans %}You do not have much activity yet.{% endblocktrans %}</li>
      {% endfor %}
    </ul>
  </article>

    <article class="infoblock column column3 profile_latest_comments">
    <h2>{% trans "Latest edited comments" %}</h2>
    <ul class="latest_list">
      {% for c in user.metadata.latest_comments|slice:":6" %}
      <li class="profile_recent_activity_item">
        <a class="comment-link" href="{{c.parent_annotation.contextualized_link}}"><small>{{c.title_or_description}}</small></a>
        <time class="activity_date" datetime="{{a.modified|date:'c'}}">{{c.modified|naturaltime}}</time>
      </li>
      {% empty %}
      <li>{% blocktrans %}You do not have much activity yet.{% endblocktrans %}</li>
      {% endfor %}
    </ul>
  </article>

  <article class="infoblock column column3 profile_latest_videos">
    <h2>{% trans "Latest viewed videos" %}</h2>
    <ul class="latest_list">
      {% for i in user.metadata.latest_videos.values|slice:":6" %}
      <li class="profile_recent_activity_item">
        <small><a class="video-link" data-video="{{i.action_object.uuid}}" href="{{i.action_object.get_absolute_url}}">{{i.action_object.title_or_description}}</a></small>
        <time class="activity_date" datetime="{{i.timestamp|date:'c'}}">{{i.timestamp|naturaltime}}</time>
      </li>
      {% empty %}
      <li>{% blocktrans %}You do not have much activity yet.{% endblocktrans %}</li>
      {% endfor %}
    </ul>
  </article>

  <article class="infoblock column column3 profile_overview">
    <h2>{% trans "My notes" %}</h2>
    <div class="profile_overview_count">{{annotationscount}} {{annotationscount|pluralize:"note,notes"}}</div>
    {% for ci in user.metadata.summarized_information %}
    <article class="infoblock">
      <h4><div class="profile_overview_type">{% trans "Channel" %}</div> <a class="profile_overview_channel" href="{{ ci.channel.get_absolute_url }}">{{ ci.channel.title_or_description }}</a></h4>
      <ul class="profile_overview_video_list">
        {% for vi in ci.videos %}
        <li><a class="profile_overview_video_url" href="{{ vi.video.get_absolute_url }}">{{ vi.video.title_or_description }}</a><br>
          <span class="profile_overview_video_info">
          {% blocktrans context "profile" count vi.total_annotations as count %}{{count}} note{% plural %}{{count}} notes{% endblocktrans %}
          (
          {% if vi.private_annotations %}
          {% blocktrans context "profile" count vi.private_annotations as count %}{{count}} private{% plural %}{{count}} private{% endblocktrans %}
          {% endif %}
          {% if vi.group_annotations %}
          {% blocktrans context "profile" count vi.group_annotations as count %}{{count}} group{% plural %}{{count}} group{% endblocktrans %}
          {% endif %}
          {% if vi.public_annotations %}
          {% blocktrans context "profile" count vi.public_annotations as count %}{{count}} public{% plural %}{{count}} public{% endblocktrans %}
          {% endif %}
          )
          </span>
        </li>
        {% endfor %}
      </ul>
    </article>
    {% endfor %}
  </article>
 
</section>

  <section class="profile_bottom column">
    <article class="infoblock column column12 profile_activity">
    <h2>{% trans "My recent activity" %}</h2>
    <div class="charts">
      <div id="activity_chart"></div>
      <div id="video_chart"></div>
    </div>
    <ul class="profile_recent_activity">
      {% for a in user.metadata.latest_annotations %}
      <li class="profile_recent_activity_item">
        <time class="activity_date" datetime="{{a.modified|date:'c'}}">{{a.modified|naturaltime}}</time>,
        {% if a.is_updated %}
        <span class="activity_type" data-action="modify">{% blocktrans %}you modified the note{% endblocktrans %}</span>
        {% else %}
        <span class="activity_type" data-action="create">{% blocktrans %}you created the note{% endblocktrans %}</span>
        {% endif %}
        <a class="annotation-link" href="{{a.contextualized_link}}"><small>{{a}}</small></a>
        {% blocktrans %}on{% endblocktrans %}
        <small><a class="video-link" data-video="{{a.video.uuid}}" href="{{a.video.get_absolute_url}}">{{a.video.title_or_description}}</a></small>
      </li>
      {% empty %}
      {% blocktrans %}You do not have much activity yet.{% endblocktrans %}
      {% endfor %}
    </ul>

  </article>

</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="http://dc-js.github.io/dc.js/js/d3.js"></script>
<script type="text/javascript" src="http://dc-js.github.io/dc.js/js/crossfilter.js"></script>
<script type="text/javascript" src="http://dc-js.github.io/dc.js/js/dc.js"></script>
  <script type="text/javascript">
  var timeline = dc.barChart('#activity_chart', 'activity');
  var video_hist = dc.rowChart('#video_chart', 'activity');

  var data = $(".profile_recent_activity_item").map(function () {
      return {
          "date": new Date($(this).find(".activity_date").attr("datetime")),
          "type": $(this).find(".activity_type").attr("data-action"),
          "video": $(this).find(".video-link").attr("data-video"),
          "videotitle": $(this).find(".video-link").text()
      }
  }).toArray();
  var ndx                 = crossfilter(data),
      dateDimension       = ndx.dimension(function(d) {return d.date;}),
      videoDimension      = ndx.dimension(function(d) {return d.videotitle;}),
      dateGroup           = dateDimension.group(function (d) { return new Date(d).setHours(0, 0, 0, 0); }).reduceCount(),
      videoGroup          = videoDimension.group();

  timeline
    .width($("#activity_chart").width())
    .height(200)
    .x(d3.time.scale().domain([ dateDimension.bottom(1)[0].date, dateDimension.top(1)[0].date ]))
    .y(d3.scale.linear())
    .brushOn(true)
    .elasticX(true)
    .elasticY(true)
    .round(d3.time.day.round)
    .xUnits(d3.time.days)
    .renderHorizontalGridLines(true)
    .dimension(dateDimension)
    .group(dateGroup)
    .render();

  video_hist
    .width($("#video_chart").width())
    .height(200)
    .elasticX(true)
    .dimension(videoDimension)
    .group(videoGroup)
    .render();
</script>
{% endblock %}
