{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}COCo platform{% endblock %}

{% block content %}

<section class="column" id="home_content">

  <section class="column column4" id="home_column">

    <h1 class="highlighted">Bienvenue</h1>

    <article class="welcome">
      <p class="subtitle">COCo platform is a place to find open education
        resources that are free to use/reuse and of high
        quality.</p>
      <p>Feel free to use our tools when going through the
        resources, they were designed to help you in your learning path.</p>
    </article>

    <article class="capsule home_news">
      <h1>Les nouvelles</h1>
      {% for item in news %}
      <article class="newsitem">
        <h5>{{ item.subtitle }}</h5>
        <h4>{{ item.title }}</h4>
        <span class="description">{{ item.description|truncatechars_html:40 }}<a href="{{ item.get_absolute_url }}" class="readmore">Lire plus</a>
        </span>
      </article>
      {% endfor %}
      </article>
    </article>

  </section>

  <section class="column column8 home_content">

    <section class="la_une">
      <h1>À la une</h1>


      {% for item in une_items %}
      <article class="minicapsule fixedheight">
        <img src="{{ item.thumbnail_url }}">
        <div class="content">
          <h5>{{ item.subtitle }}</h5>
          <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
          <span class="description">{{ item.description|truncatechars_html:40 }}</span>
          <span class="detail">{{ item.element_description }}</span>
        </div>
      </article>
      {% endfor %}

    </section>

    <section class="last_videos">
      <h2>Les dernières vidéos</h2>


      {% for item in last_videos %}
      <article class="minicapsule microcapsule">
        <img src="{{ item.thumbnail_url }}">
        <div class="content">
          <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
        </div>
      </article>
      {% endfor %}

    </section>

  </section>

</section>

{% endblock %}
