.Ldt-SlideVideoPlayer-panel {
    display: -webkit-flex;
    display: flex;
    width: 50%;
    float: left;
}

.Ldt-SlideVideoPlayer {
    width: 100%;
    max-width: 100%;
}

.Ldt-SlideVideoPlayer-video video {
    width: 100%;
    height: 100%;
}

.Ldt-SlideVideoPlayer-pip-main {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.Ldt-SlideVideoPlayer-pip-main .Ldt-ImageDisplay-Container {
    min-height: 30vw;
}
/* pip-pip is -br (bottom right) by default */
.Ldt-SlideVideoPlayer-pip-pip {
    position: absolute;
    width: 30% !important;
    height: 30%;
    z-index: 3;
    background-color: #fff;
    bottom: 2px;
    right: 2px;
    border: 1px solid #999;
    box-shadow: #999 2px 2px 2px;
    opacity: 50%;
}

.Ldt-SlideVideoPlayer-pip-br {
    bottom: 2px;
    right: 2px;
}
.Ldt-SlideVideoPlayer-pip-bl {
    left: 2px;
    bottom: 2px;
}
.Ldt-SlideVideoPlayer-pip-tr {
    top: 2px;
    right: 2px;
}
.Ldt-SlideVideoPlayer-pip-tl {
    top: 2px;
    left: 2px;
}

.Ldt-SlideVideoPlayer h2 {
    display: none;
}
.Ldt-SlideVideoPlayer-pip-menu-toggle {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
    background-image: url(img/pip_toggle.svg);
    display: none;
}
.Ldt-SlideVideoPlayer-pip-pip:hover .Ldt-SlideVideoPlayer-pip-menu-toggle {
    opacity: .8;
    display: inline-block;
}

.Ldt-SlideVideoPlayer-pip-menu-toggle-br {
    bottom: 2px;
    right: 2px;
    background-image: url(img/pip_br.svg);
}
.Ldt-SlideVideoPlayer-pip-br .Ldt-SlideVideoPlayer-pip-menu-toggle-br {
    display: none !important;
}
.Ldt-SlideVideoPlayer-pip-menu-toggle-tr {
    top: 2px;
    right: 2px;
    background-image: url(img/pip_tr.svg);
}
.Ldt-SlideVideoPlayer-pip-tr .Ldt-SlideVideoPlayer-pip-menu-toggle-tr {
    display: none !important;
}
.Ldt-SlideVideoPlayer-pip-menu-toggle-tl {
    top: 2px;
    left: 2px;
    background-image: url(img/pip_tl.svg);
}
.Ldt-SlideVideoPlayer-pip-tl .Ldt-SlideVideoPlayer-pip-menu-toggle-tl {
    display: none !important;
}
.Ldt-SlideVideoPlayer-pip-menu-toggle-bl {
    bottom: 2px;
    left: 2px;
    background-image: url(img/pip_bl.svg);
}
.Ldt-SlideVideoPlayer-pip-bl .Ldt-SlideVideoPlayer-pip-menu-toggle-bl {
    display: none !important;
}
.Ldt-SlideVideoPlayer-pip-menu-toggle-main {
    top: 50%;
    top: calc(50% - 9px);
    left: 50%;
    left: calc(50% - 9px);
}
.Ldt-SlideVideoPlayer-hidden {
    display: none;
}
