{% extends  "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Formulaire de consentement{% endblock %}

{% block extra_head %}
<style type="text/css">
  .consent_category {
    font-weight: bold;
  }
  .consent_text p {
      padding-top: 1em;
  }
  .consent_header img {
      height: 3em;
  }
  #form, .topmenu {
      display: none;
  }
  .consent_header {
      display: flex;
      justify-content: space-around;
  }
  h1, h2 {
      text-align: center;
  }
</style>
{% endblock %}

{% block content %}
<div class="consent_text">
  <div class="consent_header">
    <img src="{% static "img/logo_un.png" %}">
    <img src="{% static "img/logo_coco.svg" %}">
  </div>
  <h1>Formulaire de consentement éclairé</h2>
  <h2>Étude COCo - SPIN Santé</h3>
  <p>En signant ce formulaire, je déclare que je consens volontairement à participer à l’étude « COCo - SPIN Santé », piloté par les Professeurs David Laplaud et Yannick Prié, dont le projet a été approuvé par les responsables académiques de l’université de Nantes. J’ai par ailleurs pris connaissance de toutes les informations données aux participants de la recherche et portant sur :</p>
  <p><span class="consent_category">Objectifs</span> | Disposer de nouveaux outils de travail et de collaboration entre étudiants afin de compléter un dispositif pédagogique en place et de favoriser les interactions grâce aux annotations vidéo. Étudier l’utilisabilité et l’utilité de la plateforme COCoNotes, ainsi qu’explorer l’impact de l’anonymat/non-anonymat sur les pratiques.</p>
  <p><span class="consent_category">Méthode</span> | Les liens Madoc  pour chacune des ressources vidéo proposées pointent vers les vidéos dans la plate-forme COCoNotes. Les étudiants accèdent à chaque vidéo et utilisent l’outil d’annotation partagé et répondent à des QCM, proposés au fil de l’eau. Ils sont répartis dans des groupes distincts : un groupe en situation d’anonymat (pseudonyme affecté au hasard), un autre en accès nominatif. Les enseignants accèdent à COCoNotes pour consulter sur un tableau de bord les notes partagées, les statistiques d’usage des vidéo et les scores aux QCM.</p>
  <p><span class="consent_category">Durée</span> | L’expérimentation se déroulera de septembre à décembre 2016.</p>
  <p><span class="consent_category">Résultats</span> | Dans le cadre de l’étude, les chercheurs pourront consulter l’ensemble des informations : les traces d’activité sur la plateforme COCoNotes, les réponses aux questionnaires et aux entretiens semi-directifs. Tous les résultats diffusés le seront en assurant l’anonymat des participants.</p>
  <p><span class="consent_category">Risques et bénéfices</span> | Il n'y a pas de risques connus sur le fait de participer à cette étude.</p>
  <p><span class="consent_category">Mes droits</span> | Je peux accepter ou non de participer à cette étude (si je refuse mes données ne seront pas utilisées dans les analyses). Mes données seront traitées de manière confidentielle. À tout moment, je peux demander un complément d’information sur l’étude, je peux quitter l’étude, je peux accéder au présent document, portant le nom et les coordonnées des responsable de la recherche.</p>
  <p><span class="consent_category">Consentement</span> | Après avoir discuté librement et obtenu réponse à toutes mes questions, j’accepte de participer à cette étude. Mon consentement ne décharge pas les organisateurs de la recherche de leurs responsabilités. Je conserve tous mes droits garantis par la loi. J’ai bien compris que si j'ai la moindre question à propos de l'étude, je peux contacter les responsables de ce projet (Pr. David Laplaud  - david.laplaud@univ-nantes.fr / Pr.  Yannick Prié - yannick.prie@univ-nantes.fr)</p>
</div>

<form action="{% url 'profile-consent-form' %}" class="consent_edit_form" method="post">
  {% csrf_token %}
  {{form|crispy}}
  <div class="tabconfig_edit_form_validate">
    <input type="submit" value="{% blocktrans %}Validate{% endblocktrans %}" />
  </div>
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
  {% if form.errors %}
  <ol>
      {% for error in form.errors %}
      <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
    {% endif %}
</form>
{% endblock %}
