{% extends "base.html" %}

{% load i18n %}
{% load admin_urls %}
{% load url from future %}

{% block title %}{% blocktrans %}Activity{% endblocktrans %} {{ activity.title }}{% endblock %}

{% block content %}

<div class="activity_content">
  <h1>{% blocktrans %}Activity{% endblocktrans %} {{ activity.title }}</h1>

  <p class="activity_description">{{ activity.description }}</p>

  <p class="activity_module">{{ activity.module }}

  <div class="capsule_container">
    {% for video in activity.video_set.all %}
    {% include "item_capsule.html" with item=video %}
    {% endfor %}
  </div>

</div>

{% endblock %}
