{% extends  "formbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form %}
<form action="annotation/{{ object.uuid }}/edit" class="annotation_edit_form" method="post">
  {% csrf_token %}
  <div class="annotation_edit_form_content">
    <div class="annotation_edit_form_begin">{% blocktrans %}Video timecode{% endblocktrans %} {{ form.begin }}</div>
    {{ form.title }}
    {{ form.description }}
  </div>
  <div class="annotation_edit_form_sharing">
    {% blocktrans %}This annotation is{% endblocktrans %} {{ form.sharing }}
  </div>
  <div class="annotation_edit_form_validate">
    <input type="submit" value="{% blocktrans %}Validate{% endblocktrans %}" />
  </div>
{% if form.errors %}
    <ol>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
</form>
{% endblock %}
