{% extends "base.html" %}

{% load i18n %}
{% load admin_urls %}
{% load url from future %}

{% block title %}{% blocktrans %}Course{% endblocktrans %} {{ course.title }}{% endblock %}

{% block content %}

<div class="course_description">
  <h1>{{ course.title }}</h1>

  <p class="course_category">{{ course.category }}
  <p class="course_syllabus">{{ course.syllabus }}</p>

  <div class="capsule_container">
    {% for module in course.module_set.all %}
    {% include "item_capsule.html" with item=module %}
    {% endfor %}
  </div>

</div>
{% endblock %}
