{% extends "base.html" %}

{% load i18n %}
{% load admin_urls %}
{% load url from future %}

{% block title %}{% blocktrans %}Course{% endblocktrans %} {{ course.title }}{% endblock %}

{% block content %}

<div class="course_content">
  <h1>{{ course.title }}
    {% if user.is_staff %}<div class="adminactions"><a href="{{ course.edit_url }}" class="editelement">&#x270f;</a></div>{% endif %}
  </h1>
  <p class="course_description">{{ course.description }}</p>

  <p class="course_category">{{ course.category }}
  <p class="course_syllabus">{{ course.syllabus }}</p>

  <div class="capsule_container">
    {% for module in course.module_set.all %}
    {% include "item_capsule.html" with item=module %}
    {% endfor %}
  </div>

</div>
{% endblock %}
