{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load admin_urls %}
{% load url from future %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "libs/jquery.touchsplitter.css" %}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    var metadata = {
        video_url: "{{video.url}}",
        video_id: "{{video.uuid}}",
        url: "/video/{{video.uuid}}/cinelab",
        format: 'ldt',
        lang: "{% get_current_language as language %}"
    };
</script>
<script type="text/javascript" src="{% static "metadataplayer/LdtPlayer-core.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "libs/jquery.touchsplitter.js" %}"></script>
<script type="text/javascript" src="{% static "js/coco.js" %}"></script>
{% endblock %}

{% block title %}COCo platform - {{ video.title }}{% endblock %}

{% block content %}
<div class="player">
  <div class="titleblock">
    <div class="breadcrumb">
      <span class="coursecategory">{{ video.course.category }}</span>
      <span class="coursetitle">{{ video.course.title }}</span>
    </div>
    <div class="playertitle">
      <span class="videotitle">{{ video.title }}</span>
      <div class="videodetails">i</div>
    </div>
  </div>
  <div class="videoplayer">
    <div class="aspectratiokeeper">
      <div id="VideoContainer" class="VideoContainer"></div>
    </div>
  </div>
  <div class="controlscontainer" id="ControlsContainer">
    <div id="SlidePreviewContainer" class="slidepreview"></div>
    <div id="BarSliderContainer"></div>
    <div id="VideoControlContainer" class="videocontrols"></div>
    <div id="MiscControlsContainer"></div>
  </div>
</div>
<div class="coco_rightcolumn">
  <div id="metadata" class="tabcomponent">
    <ul class="tabnames">
      <li class="tab-plan">{% trans "Plan" %}</li>
      <li class="tab-mynotes selected">{% trans "Own notes" %}</li>
      <li class="tab-group">{% trans "Group notes" %}</li>
      <li class="tab-public">{% trans "Public notes" %}</li>
    </ul>
    <div class="coco_tabcontents">
      <div class="tabcontent tab-plan">
        <div id="PlanContainer" class="EnrichedPlanContainer"></div>
      </div>
      <div class="tabcontent selected tab-mynotes">
        <div id="OwnAnnotationsContainer" class="EnrichedPlanContainer"></div>
      </div> <!-- #tabcontent -->
      <div class="tabcontent tab-group">
        <div id="GroupAnnotationsContainer" class="EnrichedPlanContainer"></div>
      </div>
      <div class="tabcontent tab-public">
        <div id="PublicAnnotationsContainer" class="EnrichedPlanContainer"></div>
      </div>
    </div>
  </div>   <!-- #metadata -->
  <div id="coco_annotation_input_widget"></div>
</div>

{% endblock %}
