{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load admin_urls %}


{% block breadcrumb %}
<span class="topmenu_item"><a href="{{ video.channel.get_absolute_url }}">{% trans "Channel" %} {{video.channel.title}}</a></span>
<span class="topmenu_item active"><a href="#">{% trans "Video" %}</a></span>
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "libs/jquery.touchsplitter.css" %}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    var metadata = {
        video_url: "{{video.url}}",
        video_id: "{{video.uuid}}",
        url: "/video/{{video.uuid}}/cinelab",
        format: 'ldt',
        lang: "{% get_current_language as language %}",
        is_admin: {% if user.is_staff %}true{% else %}false{% endif %},
        has_slides: {% if video.has_slides %}true{% else %}false{% endif %}
    };
</script>
<script type="text/javascript" src="{% static "metadataplayer/LdtPlayer-core.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "libs/jquery.touchsplitter.js" %}"></script>
<script type="text/javascript" src="{% static "js/js.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/coco.js" %}"></script>
{% endblock %}

{% block title %}COCo platform - {{ video.title }}{% endblock %}

{% block content %}
<div class="player">
  <div class="player_usage">
    <p>{% blocktrans %}This platform is a product of the <a title="Projet COCo - CominOpenCourseware" href="https://comin-ocw.org/">COCo project</a>. Please see our website for overall information.{% endblocktrans %}</p>
    <p>{% blocktrans %}Some usage information:{% endblocktrans %}</p>
    <ul>
      <li>{% blocktrans %}There are keyboard shortcuts to control the video player: Control-Space toggles play/pause, Control-left arrow and Control-right arrow move backwards/forward in the video.{% endblocktrans %}</li>
      <li>{% blocktrans %}If you pause the video, the page URL is updated to reflect your current position (using the <a href="http://www.w3.org/TR/media-frags/‎">MediaFragment</a> syntax). You can then bookmark it, copy it in an e-mail...{% endblocktrans %}</li>
    </ul>
  </div>
  <div class="titleblock">
    <div class="breadcrumb">
      <span class="channelcategory">{{ video.channel.category }}</span>
      <a href="{{video.channel.get_absolute_url}}" class="channeltitle">{{ video.channel.title }}</a>
    </div>
    <div class="playertitle">
      {% if video.license %}
      <div class="license"><a title="{{ video.title }} is licensed under a Creative Commons {{video.license.title}} License" rel="license" href="{{video.license.url}}"><img class="licenseicon" alt="({{video.license.slug}})" style="border-width:0" src="{{video.license.thumbnail}}" /></a></div>
      {% endif %}
      <div title="{{video.description}}" class="videotitle">{{ video.title }}</div>
      <div class="videodetails"></div>
      {% if user.is_staff %}<div class="adminactions"><a href="{{ video.edit_url }}" class="editelement">&#x270f;</a></div>{% endif %}
    </div>
  </div>
  <div class="videoplayer">
    <div id="VideoContainer" class="VideoContainer"></div>
  </div>
  <div class="controlscontainer" id="ControlsContainer">
    <div id="AnnotationBarContainer" class="annotationbar"></div>
    <div id="BarSliderContainer"></div>
    <div id="VideoControlContainer" class="videocontrols"></div>
    <div id="MiscControlsContainer"></div>
  </div>
</div>
<div class="coco_rightcolumn">
  <div id="metadata" class="tabcomponent">
    <ul class="tabnames">
      <li class="tab-plan {% if not user.is_authenticated %}selected{% endif %}" data-placeholder="{% blocktrans %}Enter a personal note{% endblocktrans %}">{% trans "Plan" %}</li>
      {% if user.is_authenticated %}
      <li class="tab-mynotes selected" data-placeholder="{% blocktrans %}Enter a personal note{% endblocktrans %}">{% trans "Own notes" %}</li>
      {% endif %}
      <li class="tab-public" data-group-id="-1" data-placeholder="{% blocktrans %}Share a note with all users{% endblocktrans %}">{% trans "Public notes" %}</li>
      {% for g in groups %}
      <li class="tab-group-{{g.id}}" data-group-id="{{g.id}}" data-group-name="{{g.name}}" data-placeholder="{% blocktrans with groupname=g.name %}Share a note with group {{groupname}}{% endblocktrans %}">{% trans "Group" %} {{ g.name }}</li>
      {% endfor %}
    </ul>
    <div class="coco_tabcontents">
      <div class="tabcontent tab-plan {% if not user.is_authenticated %}selected{% endif %}">
        <div id="PlanContainer" class="EnrichedPlanContainer"></div>
      </div>
      {% if user.is_authenticated %}
      <div class="tabcontent selected tab-mynotes">
        <div id="OwnAnnotationsContainer" class="EnrichedPlanContainer"></div>
      </div>
      {% endif %}
      <div class="tabcontent tab-public">
        <div id="PublicAnnotationsContainer" class="EnrichedPlanContainer"></div>
      </div>
      {% for g in groups %}
      <div class="tabcontent tab-group-{{g.id}}">
        <div id="Group{{g.id}}AnnotationsContainer" class="EnrichedPlanContainer"></div>
      </div>
      {% endfor %}
    </div>
    <div title="{% blocktrans %}Select visible tabs{% endblocktrans %}" class="tabnames_overflow_indicator">...</div>
  </div>
  <div class="{% if not user.is_authenticated %}inactive_input{% endif %}" id="coco_annotation_input_widget">
    <div class="unauthenticated_comment">{% blocktrans with currenturl=request.get_full_path|urlencode %}Please <a href="/accounts/login/?next={{currenturl}}">log in</a> to be able to comment on the video.{% endblocktrans %}</div>
  </div>
</div>
{% endblock %}
